CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
Build/
build/
documentation/html
documentation/latex
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.ipynb_checkpoints
.vscode
Benchmark.ipynb